@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700&display=swap");

$primary-color: #000;
$primary-bgcolor: #fff;

$accent-color: #fff;
$accent-bgcolor: #000;

* {
  box-sizing: border-box;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  list-style-type: none;
  text-decoration: none;
}

header a {
  color: $accent-color;
}

section{
  padding: 50px 0;
}

section a {
  color: $primary-color;
}

body {
  margin: 0;
}





// wraps the whole website
.wrapper {
  width: 93%;
  margin: auto;
  box-shadow: 2px 2px 16px #00000056;
}

// containerizes selected sections
.container{
  width: 90%;
  margin: 0 auto;
}

.img-fluid{
  max-width: 100%;
}