@use "abstracts/globals" as *;

@mixin Transition($property: all, $duration: 0.3s) {
  transition: $property $duration ease-in-out;
}

@mixin Button(
  $color: #fff,
  $bgcolor: #0000,
  $btn-height: 0.8rem,
  $btn-width: 2rem,
  $border: 2px #fff solid
) {
  color: $color;
  background-color: $bgcolor;
  padding: $btn-height $btn-width;

  border: $border;
  border-radius: calc($btn-height/2);
}

@mixin Text-Shadow(){
  padding: 30px 0;
  text-align: center;
  position: relative;
  
  span{
    font-size: 3rem;
    font-weight: bold;
    color: #f4f4f4;
    text-transform: uppercase;
    
    position: absolute;
    top: 30px;
    left: 0;
    right:0;
    line-height: 0;
    z-index: -1;
  }
}


/*  Header  */

header {
  width: 100dvw;
  position: fixed;
  inset: 0 0;
  z-index: 100;

  color: $accent-color;
  background-color: $accent-bgcolor;

  height: 60px;
  display: flex;
  align-items: center;

  ul {
    @include Transition();
    padding: 0;
    margin: 0;
  }

  //header-container
  .header-cont {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-title {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 4px;
  }

  .header-links {
    display: flex;
    font-size: 0.95rem;
    gap: 2em;
    font-weight: 500;

    li {
      cursor: pointer;

      *:hover {
        color: #72c393;
      }
    }
  }
}

/*  Hero Section  */

.hero {
  background-image: url("../img/hero-bg.jpg");
  background-size: cover;
  background-attachment: fixed;

  height: 85dvh;
  position: relative;

  &::before {
    background-color: #000000a3;
    position: absolute;
    inset: 0 0;
    content: "";
  }
}
// hero container
.hero-cont {
  text-align: center;
  position: absolute;
  width: 100%;
  inset: 0 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  color: $accent-color;

  .hero-title,
  .hero-desc {
    width: 50%;
  }

  .hero-title {
    font-size: 3rem;
    margin: 0;
  }

  .hero-desc {
    font-size: 1.4rem;
    font-weight: 400;
  }

  .hero-btn {
    @include Button($border: solid 2px #4eb478);
    @include Transition;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 2px;

    &:hover {
      background-color: #4eb478;
    }
  }
}

/*  About Section  */

.about .container {
  display: flex;
  .img-fluid {
    width: 40%;
    background-image: url("../img/about.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .about-info {
    width: 60%;
    padding-left: 35px;

    .title {
      font-size: 2.2rem;
      color: #444444;
      margin-bottom: 0;
    }

    .desc {
      color: #848484;
    }
  }

  .row {
    display: flex;
    flex-wrap: wrap;

    .row-item {
      padding: 0 10px;
      width: 50%;
      h3 {
        color: #444444;
      }

      p {
        color: #848484;
        width: 30ch;
      }
    }
  }
}

/*  Clients Section  */

.clients{
  padding: 0 15px;
  background-color: #f4f4f4;
  text-align: center;
  .row{
    display: flex;
    flex-wrap: nowrap;
    justify-content: end;
  }

  .row-item{
    @include Transition();
    width: calc(100% / 6);
    margin: auto;
    filter: grayscale(1);

    &:hover{
      filter: grayscale(0);
      transform: scale(1.2);
    }
  }

  img{
    width: 50%;
    padding: 15px 0;
  }

}

/*  Features Section  */

.features .container > .row{
  display: flex;
  gap: 25px;

  .row-item{
    @include Transition();
    background-color: #f7f7f7;
    width: (100% / 3);
    border-radius: 5px;

    .item-img{
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      
      img{
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
    }

    .item-info{
      padding: 1rem;
    }
    .title,.desc{
      margin: 0;
    }
    .title{
      @include Transition();
      color: #444444;
      margin-bottom: 8px;
    }
    .desc{
      font-weight: 500;
      color: #848484;
    }

    &:hover{
      background-color: #fff;
      box-shadow: 2px 2px 8px #0000001c;

      .title{
        color: #4eb478;
      }
    }
  }
}


/*  Call To Action Section  */
.cta{
  background: linear-gradient(rgba(2, 2, 2, 0.6), rgba(0, 0, 0, 0.8)), url('../img/cta-bg.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

  .container{
    text-align: center;
    color: $accent-color;

    .title{
      margin: 0;
      font-size: 2rem;
    }

    .desc{
      margin: 15px 0;
      font-weight: 500;
    }

    .cta-btn{
      // @include Button();
      // font-weight: 500;
      // font-size: 1.10rem;
      @include Button($border: solid 2px #fff);
      @include Transition;
      cursor: pointer;
      font-size: 1.1rem;
      font-weight: 600;
      letter-spacing: 2px;

      &:hover {
        background-color: #4eb478;
        border-color: #4eb478;
      }
    }
  }
}

/*  Services Section  */

.services{
  .info{
    @include Text-Shadow();
    // padding: 30px 0;
    // text-align: center;
    // position: relative;
    
    // span{
    //   font-size: 3rem;
    //   font-weight: bold;
    //   color: #f4f4f4;
    //   text-transform: uppercase;
      
    //   position: absolute;
    //   top: 30px;
    //   left: 0;
    //   right:0;
    //   line-height: 0;
    //   z-index: -1;
    // }

    >.title{
      font-size: 2rem;
      color: #4eb478;

      margin-top: 0;
    }
  }

  .row{
    display: flex;
    flex-wrap: wrap;

    &-item{
      padding: 25px;
      width: 50%;
    }

    .title,
    .desc{
      margin-top: 0;
      color: #444444;
    }
  }
}

/*  Portfolio Section  */

.portfolio{
  .info{
    @include Text-Shadow();

    .title{
      font-size: 2rem;
      color: #4eb478;

      margin-top: 0;
    }

    .desc{
      color: #444444;
    }
  }

  .controls{
    margin-bottom: 25px;
    text-align: center;
    
    button{
      @include Transition();
      @include Button(#000, #eaeaea);
      border-radius: 2rem;
      font-weight: 500;
      text-transform: uppercase;

      &:hover{
        color: #4eb478;
      }
    }
  }

  .row{
    margin: auto;
    display: flex;
    flex-wrap: wrap;

    .wrap{

      display: flex;
      margin: auto;
      position: relative;

      .portfolio-info,
      .portfolio-links{
        position: absolute;
      }
    }

    &-item{
      padding: 12px;
      width: (100% / 3);
    }
  }
}